# 객체란?

메모리에 저장된 자료를 '객체'라고 부른다.

In [1]:
#100 객체(값)을 x라는 변수에 할당했다.  
x = 100

x

In [2]:
x

100

In [3]:
id(x)

1442802944

In [4]:
y = 3400000000

In [5]:
id(y)

2565268349328

In [6]:
z = x+y

In [9]:
id(z)

2565269018824

In [12]:
x

100

In [13]:
print(x,y,z)

100 3400000000 3400000100

In [14]:
xx=3.0

#### type(): 괄호 안에 있는 변수의 데이터 타입을 알려준다.

In [15]:
type(x)

int

In [16]:
type(xx)

float

In [17]:
type(y)

int

In [18]:
type(z)

int

In [19]:
a= 3  
aa = 3.0

In [22]:
1aa=33.0

SyntaxError: invalid syntax (<ipython-input-22-7981049fd40b>, line 1)

In [24]:
aa1=33.0

In [26]:
data=5  
DATA=10

In [27]:
and=10

SyntaxError: invalid syntax (<ipython-input-27-9623b2dff66a>, line 1)

math_scor = 33

In [28]:
number = 5

In [29]:
score = 90

In [30]:
%whos

Variable   Type     Data/Info
-----------------------------
DATA       int      10
a          int      3
aa         float    33.0
aa1        float    33.0
data       int      5
number     int      5
score      int      90
x          int      100
xx         float    3.0
y          int      3400000000
z          int      3400000100

In [31]:
del(data)

In [32]:
del(x)

In [34]:
del(number)

In [36]:
%whos

Variable   Type     Data/Info
-----------------------------
DATA       int      10
a          int      3
aa         float    33.0
aa1        float    33.0
score      int      90
xx         float    3.0
y          int      3400000000
z          int      3400000100

In [37]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?
Nothing done.

In [38]:
%whos

Variable   Type     Data/Info
-----------------------------
DATA       int      10
a          int      3
aa         float    33.0
aa1        float    33.0
score      int      90
xx         float    3.0
y          int      3400000000
z          int      3400000100

In [39]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [40]:
%whos

Interactive namespace is empty.

In [41]:
x=3+5j

In [42]:
print(x)

(3+5j)

In [43]:
type(x)

complex

In [44]:
a = True

In [45]:
b = False

In [46]:
type(a)

bool

In [47]:
type(b)

bool

In [48]:
x=1  
y=2

In [49]:
x>y

False

# 문자열

In [52]:
name = "이예지"

In [53]:
type(name)

str

# 문자열(str)

In [54]:
name = "이예지"  
phone = "01037249412"  
address = "seoul"