# 군집자료형

## 1. list
## 2. tuple
## 3. set
## 4. dict

In [1]:
score = [50, 60, 70, 80, 90, 100, 99, 40]

In [2]:
score

[50, 60, 70, 80, 90, 100, 99, 40]

In [3]:
score[0]

50

In [4]:
score[0:3]

[50, 60, 70]

In [6]:
score[0]=88

In [7]:
score

[88, 60, 70, 80, 90, 100, 99, 40]

In [8]:
score[1:3] =[]

In [9]:
score

[88, 80, 90, 100, 99, 40]

In [10]:
list1 =[55, 66]
list2 =[67, 39]

In [11]:
list1 + list2

[55, 66, 67, 39]

In [14]:
list5 = [1,2,3,4,5,6,7]

In [17]:
list5.append(8)

In [18]:
list5[-1]

8

In [20]:
list5.insert(2,12)

In [22]:
list5[2]

12

In [29]:
list5.pop()

7

# 집합 사전

In [32]:
s =[1,2,3,1,1,1,1,1,1]

In [33]:
s[0]

1

In [34]:
s[6]

1

# 사전

In [37]:
dict1 ={'철수':10,'영희':8}

In [38]:
dict1['철수']

10

In [39]:
dict1['영희']

8

In [40]:
성적 ={'예지':90,'영찬':10,'지민':49,'현경':95,'유진':53}

In [41]:
성적['현경']

95

In [42]:
성적['영찬']

10

In [43]:
성적.clear()

In [44]:
for k, v in 성적.items()

SyntaxError: invalid syntax (<ipython-input-44-638b6e8ea1e0>, line 1)