In [1]:
import pandas as pd
import numpy as np

# 데이터 입출력

Pandas는 데이터 파일을 읽어 데이터프레임을 만들 수 있다. 다음 목록에 보인 포멧을 포함한 여러가지 포맷을 지원한다.

* CSV
* Excel
* HTML
* JSON
* HDF5
* SAS
* STATA
* SQL

여기에서는 가장 단순하지만 널리 사용되는 CSV(Comman Separated Value) 포맷 입출력에 대해 살펴본다. CSV 파일 포맷은 데이터 값이 쉽표(comma)로 구분되는 텍스트 파일이다.

## `%%writefile` 명령

샘플 데이터로 사용할 CSV 파일을 `%%writefile` 매직(magic) 명령으로 만들어보자. 이 명령은 셀에 서술한 내용대로 텍스트 파일을 만드는 명령이다.

In [2]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

## CSV 파일 입력

CSV 파일로부터 데이터를 읽어 데이터프레임을 만들 때는 `pandas.from_csv()` 명령을 사용한다.

In [4]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

위에서 읽은 데이터에는 열 인덳스는 있지만 행 인덱스 정보가 없으므로 0부터 시작하는 정수 인덱스가 자동으로 추가되었다. 다음처럼 데이터 파일에 열 인덱스 정보가 없는 경우에는 `read_csv` 명령의 `names` 인수로 설정할 수 있다.

In [5]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [3]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

FileNotFoundError: File b'sample2.csv' does not exist

만약 테이블 내의 특정한 열을 행 인덱스로 지정하고 싶으면 `index_col` 인수를 사용한다.

In [6]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

확장자가 CSV가 아닌 파일 즉, 데이터를 구분하는 구분자(separator)가 쉼표(comma)가 아니면 `sep` 인수를 써서 구분자를 사용자가 지정해준다. 만약 구분자가 길이가 정해지지 않은 공백인 경우에는 `\s+`라는 정규식(regular expression) 문자열을 사용한다.

In [7]:
%%writefile sample3.txt
c1        c2        c3        c4 
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [11]:
pd.read_table('sample3.txt', sep = '\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [12]:
pd.read_csv('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

만약 자료 파일 중에 건너 뛰어야 할 행이 있으면 `skiprows` 인수를 사용한다.

In [9]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명: 
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [10]:
pd.read_csv('sample4.txt', skiprows=[0, 1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

특정한 값을 NaN으로 취급하고 싶으면 `na_values` 인수에 NaN 값으로 취급할 값을 넣는다.

In [13]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2,, two
누락, 3.33, three

Writing sample5.csv

In [14]:
df = pd.read_csv('sample5.csv', na_values=['누락'])
df

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

## CSV 파일 출력

지금까지와 반대로 파이썬의 데이터프레임 값을 CSV 파일로 출력하고 싶으면 `to_csv()` 메서드를 사용한다.

In [ ]:
df.to_csv('sample6.csv')

리눅스나 맥에서는 `cat` 셸 명령으로 파일의 내용을 확인할 수 있다. 윈도우에서는 `type` 명령을 사용한다. 느낌표(!)는 셸 명령을 사용하기 위한 IPython 매직 명령이다.

In [ ]:
!cat sample6.csv  # 윈도우에서는 !type 사용

In [ ]:
!type sample6.csv  # 윈도우에서는 !type 사용

파일을 읽을 때와 마찬가지로 출력할 때도 `sep` 인수로 구분자를 바꿀 수 있다.

In [ ]:
df.to_csv('sample7.txt', sep='|')

In [ ]:
!cat sample7.txt

또 `na_rep` 인수로 NaN 표시값을 바꿀 수도 있다.

In [ ]:
df.to_csv('sample8.csv', na_rep='누락')

In [ ]:
!cat sample8.csv

`index`, `header` 인수를 지정하여 인덱스 및 헤더 출력 여부를 지정하는 것도 가능하다.

In [ ]:
df.index = ["a", "b", "c"]
df

In [ ]:
df.to_csv('sample9.csv', index=False, header=False)

In [ ]:
!cat sample9.csv

## 인터넷 상의 CSV 파일 입력

웹상에는 다양한 데이터 파일이 CSV 파일 형태로 제공된다. `read_csv` 명령 사용시 파일 패스 대신 URL을 지정하면 Pandas가 직접 해당 파일을 다운로드하여 읽어들인다. 다음은 저자의 github 웹사이트에 저장되어 있는 데이터 파일을 원격으로 읽는 명령이다.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv')

이 데이터프레임은 실제로 데이터 갯수, 즉 행(row)의 수가 890개가 넘는 대량의 데이터이다. 이렇게 데이터의 수가 많을 경우, 데이터프레임의 표현(representation)은 데이터 앞, 뒤의 일부분만 보여준다.

In [15]:
df

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

만약 앞이나 뒤의 특정 갯수만 보고 싶다면 `head` 메서드나 `tail` 메서드를 이용한다. 메서드 인수로 출력할 행의 수를 넣을 수도 있다.

In [16]:
df.head()

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

In [17]:
df.tail(2)

    c1    c2      c3
1  2.0   NaN     two
2  NaN  3.33   three

## 인터넷 상의 데이터 베이스 자료 입력

pandas_datareader 패키지의 `DataReader` 을 사용하면 일부 인터넷 사이트의 자료를 바로 pandas로 읽어들일 수 있다. 다음은 pandas_datareader 패키지가 제공하는 인터넷 사이트의 일부이다.

* FRED
* Fama/French
* World Bank
* OECD
* Eurostat
* EDGAR Index
* TSP Fund Data
* Oanda currency historical rate
* Nasdaq Trader Symbol Definitions

자세한 내용은 다음 웹사이트를 참조한다.
* https://pandas-datareader.readthedocs.io/en/latest/index.html

In [ ]:
from pandas_datareader.data import DataReader

날짜는 datetime 패키지를 사용하여 지정해도 되고 문자열을 바로 사용해도 된다. (이때는 내부적으로 dateutil 패키지를 사용한다.

In [ ]:
import datetime
dt_start = datetime.datetime(2015, 1, 1)
dt_end = "2016, 6, 30"

`data_source` 인수로 데이터를 읽어올 웹 사이트를 지정한다. 데이터의 코드는 웹 사이트에서 검색하여 알아내야 한다. 다음은 FRED 데이터베이스에서 미국 국가총생산(GDP), 모든 항목을 포함한 소비자 가격 지수(CPIAUCSL), 식료품 및 연로를 제외한 소비자 가격 지수(CPILFESL)를 가져오는 예이다. 웹사이트에서 자세한 데이터에 대한 세부적인 사항이나 값을 확인할 수 있다.

* https://fred.stlouisfed.org/series/GDP
* https://fred.stlouisfed.org/series/CPIAUCSL
* https://fred.stlouisfed.org/series/CPILFESL

In [ ]:
gdp = DataReader("GDP", "fred", dt_start, dt_end)
gdp.tail()

데이터 코드에 리스트를 넣으면 여러개의 데이터를 동시에 가져온다.

In [18]:
inflation = DataReader(["CPIAUCSL", "CPILFESL"], "fred", dt_start, dt_end)
inflation.tail()

NameError: name 'DataReader' is not defined

In [24]:
data=pd.read_csv('./톤수별 해양사고현황(2002-2012).csv',engine='python')

In [25]:
data

,Unnamed: 0,20톤미만,20~100톤미만,100~500톤미만,500~1000톤미만,1000~5000톤미만,5000~10000톤미만,10000톤이상,미상,총합계
0,1998,318,357,92,29,62,16,15,47,936
1,1999,378,394,102,24,58,11,27,47,"1,041"
2,2000,254,318,72,31,62,10,12,21,780
3,2001,276,289,64,43,61,12,25,9,779
4,2002,299,221,80,47,82,20,26,0,775
5,2003,305,203,94,44,88,11,19,3,767
6,2004,459,313,123,39,97,17,22,0,"1,070"
7,2005,364,297,78,26,79,12,26,2,884
8,2006,276,334,81,30,97,17,30,0,865
9,2007,236,278,86,29,90,17,17,6,759
10,2008,194,271,69,14,59,8,21,0,636
11,2009,356,373,67,25,51,19,24,0,915
12,2010,310,356,112,29,73,21,54,6,961
13,2011,502,412,107,27,74,15,55,5,"1,197"
14,2012,410,268,102,22,68,16,50,5,941