# 함수

In [7]:
list1 = [49,38,42,11,36]
tuple1 = (42,33,7,8,95,42,11)
set1 = {77,64,21,26,77,89,67,33}

len() : 군집자료형의 개수  
max() : 군집자료형의 최대값  
min() : 군집자료형의 최소값  
sum() : 합  
sorted() : 오름차순 정렬  
reversed() : 내림차순 정렬

In [15]:
print("len() : ",len(list1))
print("max() : ",max(list1))
print("min() : ",min(list1))
print("sum() : ",sum(list1))
print("sorted() : ",sorted(list1))
print('reversed() : ',list(reversed(list1)))

len() :  5
max() :  49
min() :  11
sum() :  176
sorted() :  [11, 36, 38, 42, 49]
reversed() :  [36, 11, 42, 38, 49]

In [17]:
print("len() : ",len(set1))
print("max() : ",max(set1))
print("min() : ",min(set1))
print("sum() : ",sum(set1))
print("sorted() : ",sorted(set1))

len() :  7
max() :  89
min() :  21
sum() :  377
sorted() :  [21, 26, 33, 64, 67, 77, 89]

# 사용자정의함수

In [20]:
def cal_sum(a,b):
    result = a+b
    return result

In [21]:
cal_sum(100,5000)

5100

In [22]:
def really(a,b,c,d,e):
    result = a +(b*c)+d-e
    return result

In [23]:
really(4,6,8,32,10)

74

In [25]:
def hello():
    print("hello world")
    print("hello python~")

In [26]:
hello()

hello world
hello python~

------------------------------
 ------------------------------

In [31]:
def enter_1():
    print('-'*30)

In [32]:
hello()
enter_1()

hello world
hello python~
------------------------------

In [33]:
def calculate(k,e,m):
    total = k+e+m
    average = total/3
    return average

In [38]:
k_score= int(input('국어성적을입력하시오: '))  
e_score= int(input('영어성적을입력하시오: '))  
m_score= int(input('수학성적을입력하시오: '))

mean = calculate(k_score,e_score,m_score)
print('세 과목 평균 :{0:.2f}'.format(mean))

국어성적을입력하시오: 50
영어성적을입력하시오: 70
수학성적을입력하시오: 80
세 과목 평균 :66.67

In [40]:
def find_max(a,b):
    if a>b:
        y=a
    else:
        y=b
    return y

In [41]:
find_max(500,706)

706

In [42]:
def add_multiply(x,y):
    sum = x+y
    mult = x*y
    return sum,mult

In [43]:
print(add_multiply(10,4))

(14, 40)

# 전역변수와 지역변수

In [48]:
def test(a, b=1, c=2):
    return a+b+c

In [49]:
def friends(*name):
    for n in name:
        nn=n+n
        print(nn)

In [50]:
names = ['지우','혜진','다정','유진','지민','세영','다연']

In [54]:
friends(names)

['지우', '혜진', '다정', '유진', '지민', '세영', '다연', '지우', '혜진', '다정', '유진', '지민', '세영', '다연']

In [55]:
def add(x,y,z):
    return x+y-z

In [56]:
lambda x,y,z:x+y-z

In [57]:
import math

In [58]:
math.pi

3.141592653589793

In [59]:
math.pow(2,5)

32.0

In [60]:
from math import pow

In [61]:
pow(2,5)

32.0